.form_container {
    display: flex;
    justify-content: center;
}

.contact_form {
    border: solid;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(194, 194, 194);
    width: 50%;
}

.input {
    font-size: large;
    padding: 10px;
}

.form_item {
    padding: 10px;
    margin: 10px;
    width: 90%;
}

#message {
    text-wrap: wrap;
}

#submit {
    padding: 10px 10px;
    font-size: large;
}