.section {
    margin: 1%;
    padding: 2%;
    border: 2px black solid;
    border-radius: 3px;
    align-items: center;
}

.flexed {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.fullLine {
    size: 90%;
}